@import url('https://fonts.googleapis.com/css2?family=Rockwell&display=swap');

body {
    font-family: 'Rockwell', serif;
    background-color: #ffdbe5;
}

header {
    background-color: #8a005c;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cookie-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.cookie-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #8a005c;
}

.cookie-section p {
    font-size: 16px;
    color: #333;
}

footer {
    background-color: #f9f9f9;
    color: #8a005c;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #8a005c;
    border-radius: 0 0 10px 10px;
}
